.show-more-btn {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  background: transparent;
  border: 1px solid #1c2b62;
  font-size: 1rem;
  font-weight: 600;
  color: #1c2b62;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.25s ease 0s;
}

.show-more-btn:hover,
.show-more-btn:focus {
  background: #1c2b62;
  color: #fff;
}