


.card {
  margin: 0 auto;
  max-width: 320px;
  height: fit-content;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.card p {
  line-height: 1.5;
}
 .card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, transform 0.3s;
  transform: scale(1.05);
}
 .card:hover .card-header h3 {
  transition: color 0.3s;
  color: royalblue;
}
 .card:hover .card-header h3 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.card .card-hero img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card .card-header {
  padding: 0.25rem 16px;
}
.card .card-body {
  padding: 8px 16px;
}
.card .card-footer {
  padding: 8px 16px 16px 16px;
  display: flex;
  gap: 8px;
}
.card .card-footer .footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.card .card-footer .avatar {
  max-width: 3rem;
}

.muted {
  color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1100px) {
  .card {
    max-width: 280px;
  }
}
@media only screen and (max-width: 920px) {
  .card {
    max-width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .card {
    max-width: 320px;
  }
}